---
layout: default
---

<link rel="stylesheet" href="/marshall/js/prettify/prettify.css" />
<style type="text/css">
    body { background:#e8e8e8; }
    @media screen and (max-width: 750px){
        body { background:#fff; }
    }
    @media screen and (max-width: 1020px){
        body { background:#fff; }
    } 

</style>

<div id="content">
    <div class="entry">
        <h1 class="entry-title"><a href="{{ page.url | prepend : '/marshall' }}" title="{{ page.title }}">{{ page.title }}</a></h1>
        <p class="entry-date">{{ page.date|date:"%Y-%m-%d" }}</p>
        {{ content }}
    </div>
   
 
    
    	 <audio class="sidenav" controls autoplay name="media">
       		<source src="http://picosong.com/cdn/de4a9b83b99d48ec9c1f7dad603d702d.mp3" type="audio/mpeg">
      	
       </audio>
     

    <div class="sidenav">
        <h2>Blog</h2>
        <ul class="artical-list">
        {% for post in site.categories.blog%}
            <li><a href="{{ post.url | prepend : '/marshall' }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>

        <h2>Life</h2>
        <ul class="artical-list">
        {% for post in site.categories.life%}
            <li><a href="{{ post.url | prepend : '/marshall'}}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>

        <h2>Fitness</h2>
        <ul class="artical-list">
        {% for post in site.categories.fitness%}
            <li><a href="{{ post.url | prepend : '/marshall'}}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div id="disqus_thread"> </div>
</div>


<script src="/marshall/js/post.js" type="text/javascript"></script>
 <script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
  	 (function() {  // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      
      s.src = 'https://marshallspace.disqus.com/embed.js';
      
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
  })();
    
    var disqus_config = function () {
        this.page.url ="http://marshallma.github.io"+"{{ page.url | prepend : '/marshall' }}";
        this.page.identifier ="{{ page.id}}";
  	}
   
 </script>